.navbar {
  display: flex;
  justify-content: space-between;
  background: #333;
  padding: 1rem;
  color: white;
}

ul { display: flex; list-style: none; gap: 20px; }

a { color: white; text-decoration: none; padding: 5px 10px; }

/* Classe ajoutée dynamiquement par routerLinkActive */
.active {
  border-bottom: 2px solid orange;
  color: orange;
  font-weight: bold;
}